<!doctype HTML>
<html lang="en">
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="canonical" href="{{site.url}}{{page.url | replace:'index.html',''}}">-->

    <title>$titleTag$</title>

    <!-- On Linux there is no font like Georgia. A good alternative would
         be Buenard but it is probably not worth the loading time.
    -->
    <link rel="stylesheet" href="/css/main.css?v=2">
</head>
<body>
    <div class="container">
$body$
    </div> <!-- /.container -->
</body>
</html>

